---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import SellSteps from '../components/SellSteps.astro';
import SellHero from '../components/SellHero.astro';
import SectionHeading from '../components/SectionHeading.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import VendorFAQ from '../components/VendorFAQ.astro';
import VendorForm from '../components/VendorForm.astro';
---

<DefaultLayout title="Sell with Us - Stencil" description="Join our marketplace and sell your unique products.">
  <SellHero />

  <SellSteps />

  <TestimonialSection />

  <VendorFAQ />

  <section id="register-form" class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <SectionHeading title="Ready to Join?" />
      <VendorForm mode="register" />
    </div>
  </section>
</DefaultLayout>